<div class="login-screen">
  <r25-panel class="login-panel r25-absolute-center" title="Gioca a ROOM-25">
    <form r25-layout="column" (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
      <md-input-container>
        <input md-input required placeholder="E-mail" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" id="name" name="name" #name="ngModel">
        <md-hint *ngIf="!name.valid && !name.pristine" [ngStyle]="{'color': 'red'}">La e-mail è obbligatoria</md-hint>
        <md-hint *ngIf="!checkEmail(userName)" [ngStyle]="{'color': 'red'}">L'indirizzo e-mail non è scritto correttamente</md-hint>
      </md-input-container>
      <br>
      <md-input-container>
        <input md-input required placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" id="password" name="password" #pwd="ngModel">
        <md-hint *ngIf="!pwd.valid && !pwd.pristine" [ngStyle]="{'color': 'red'}">La password è obbligatoria</md-hint>
      </md-input-container>
      <br>
      <button type="submit" md-raised-button color="default">Accedi</button>    
      <br>
    </form>
  </r25-panel>
</div>
