<div class="container" r25-layout="column">
  <r25-header r25-flex="0"></r25-header>
  <div r25-flex="100" class="setup-screen">
    <r25-panel class="setup-panel r25-absolute-center" title="Scegli il tipo di partita">
        <div>TODO scelta partita</div>
        <div r25-layout="row">
          <button md-button color="default" (click)="onCancel()">Abbandona</button>   
          <r25-filler></r25-filler> 
          <button md-raised-button color="default">Continua</button>    
        </div>
    </r25-panel>
  </div>
</div>
