/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.scss';

.r25-title-bar {
    background-color: md-color($primary);
    color: md-color($primary, default-contrast);
    text-align: center;
    padding: 10px;
    font-family: $md-font-family;
    font-size: $md-body-font-size-base * 1.2;
}

.r25-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
